@media screen and (max-width:576px) {

    /* Shared Style */

    .primary-font-size {
        color: white;
        font-size: 2rem;
        font-weight: 800;
    }

    .secondary-font-size {
        color: white;
        font-size: 2rem;
        font-weight: 800;
    }

    .btn-primary {
        border-radius: 42px;
        background: rgb(230, 83, 60);
        border: none;
        color: white;
        font-size: 1rem;
        font-weight: 600;
        padding: 14px 35px 14px 35px;
        cursor: pointer;
    }

    .btn-secondary {
        background-color: black;
        margin-left: 14px;
        border: 1px solid white;
        cursor: pointer;
    }

    /* Navbar Section */
    .nav-container>ul {
        display: none;
    }

    .hamburg-menu {
        display: block;
        cursor: pointer;
    }

    .nav-container {
        max-width: 353px;
        margin: 0 auto;
    }

    .logo{
        margin-bottom: 20px;
    }
    .logo img{
        width: 100px;
        height: 100px;
    }

    .logo h1{
        left: px;
        font-size: 1.2rem;
    }

    .logo>div p{
        left: 134px;
        font-size: 0.6rem;
        left: -10px;
    }

    

    /* Banner Section */

    .banner-container {
        max-width: 352px;
        margin: 0 auto;
        flex-direction: column;
    }

    .banner-container-left {
        margin-top: 50px;
    }

    .banner-container-right,
    .banner-container-left {
        max-width: 100%;
    }

    .banner-heading h1 {
        font-size: 2.25rem;
        margin: 0;
        padding: 0;
        font-weight: 900;
        line-height: 1;
    }

    .btn-area {
        margin-top: 28px;
        margin-bottom: 90px;
        display: flex;
    }

    .banner-image {
        max-width: 100%;
        position: absolute;
        top: 574px;
    }

    .font-style {
        font-size: 2.25rem;
        font-family: 'Miama', sans-serif;
        font-weight: 400;
    }

    .image-card-left {
        top: 116px;
        left: 0px;
    }

    .image-card-top {
        top: -90px;
        left: 15px;
    }

    .banner-container-right {
        margin-bottom: 360px;
    }

    #join-club-btn-secondary {
        display: block;
    }

    #join-club-btn-primary {
        display: none;
    }

    /* Change habit Section */
    .change-habit-container {
        max-width: 352px;
        margin: 0 auto;
        margin-bottom: 90px;
        margin-top: 40px;
    }

    .change-habit-body-container {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    /* Why Choose us section */
    .why-choose-us-container{
        max-width: 352px;
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .why-choose-us-description-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .why-choose-us-description-container img{
        height: 250px;
    }

    .why-choose-us-right-box{
        margin: 0 auto;
        padding-left: 10px;
        padding-top: 30px;
        max-width: 330px;
        padding-bottom: 30px;
    }

    .why-choose-us-description-causes{
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .why-choose-us-description-causes img{
        width: 20px;
        height: 20px;
    }

    .why-choose-us-right-box h1{
        font-size: 1.8rem;
    }

    #view-class-schedule-btn{
        padding: 10px 15px;
    }

    #read-more-btn{
        padding: 10px 15px;
    }

    .btn-area-why-choose{
        justify-content: space-between;
        gap: 1px;
    }

    /* Intro video section */
    .intro-video-container{
        margin-top: -40px;
        max-width: 352px;
        display: flex;
        justify-content: center;
        padding-top: 18px;
        padding-bottom: 18px;
        margin-bottom: 50px;
    }

    iframe{
        border-radius: 10px;
    }

    #video-for-desktop{
        display: none;
    }
    #video-for-phone{
        display: block;
    }

    /* Join now section */
    .join-now-container {
        max-width: 352px;
        margin: 0 auto;
        flex-direction: column;
    }

    .join-now-container-left {
        max-width: 100%;
    }

    .join-now-container-left p {
        max-width: 287px;
    }

    .join-now-container-right img {
        width: 287px;
        height: 170px;
        margin-top: 0px;
        object-fit: cover;
        object-position: 0 0;
    }

    /* BMI Calculator title section */
    .bmi-title-container {
        max-width: 352px;
        margin: 0 auto;
        margin-bottom: 90px;
    }

    .bmi-title-container>div {
        margin-top: 20px;
        margin-left: 0;
        max-width: 100%;
    }

    /* BMI table section */
    .bmi-table-container-inner-box {
        margin: 0 auto;
        max-width: 352px;
        flex-direction: column;
    }

    .bmi-table-container-inner-box {
        flex-direction: column;
    }

    .bmi-calculator-chart {
        max-width: 100%;
    }

    .calculate-bmi {
        max-width: 352px;
    }

    form input,
    select {
        width: 48.2%;
    }

    #sex {
        padding: 12px;
        background-color: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.6);
    }

    form {
        margin-bottom: 20px;
    }

    /* Meet Our team Section */
    .meet-our-team-container {
        max-width: 352px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .meet-our-team-card-container {
        max-width: 100%;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        gap: 15px;
    }

    /* Footer Section */
    .footer-container{
        max-width: 352px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .footer-container-upper-part {
        max-width: 352px;
        margin: 0 auto;
        flex-direction: column;
    }

    .title-details{
        max-width: 100%;
        margin-bottom: -15px;
    }

    .title-details h1{
        font-size: 3rem;
        font-weight: 800;
    }
    .title-details p{
        margin-top: 20px;
    }

    .get-started-left{
        max-width: 100%;
        margin-bottom: -15px;
    }

    .get-started-right{
        margin-top: 5px;
        max-width: 100%;
    }

    hr{
        margin-top: -10px;
    }

}