@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: black;
    color: white;
}

/* Shared Style */
.primary-color {
    color: rgb(230, 83, 60);
}

.secondary-color {
    color: white;
}

.text-style-primary {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
.text-style-secondary {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.87rem;
    font-weight: 400;
}

.primary-font-size {
    color: white;
    font-size: 2rem;
    font-weight: 800;
}

.secondary-font-size{
    color: white;
    font-size: 3rem;
    font-weight: 800;
}

header {
    width: 100%;
    height: 100%;
    background: linear-gradient(180.00deg, rgba(128, 128, 128, 0.26),rgba(6, 6, 6, 0.348) 100%);
}

.btn-primary {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 16px 40px 16px 40px;
    cursor: pointer;
}

.btn-secondary {
    background-color: black;
    border: 1px solid white;
    cursor: pointer;
}

.title-container {
    max-width: 545px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

/* Navbar Section */
.header-container{
    max-width: 1520px;
    margin: 0 auto;
}

.nav-container {
    margin: 0 auto;
    display: flex;
    max-width: 1060px;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
}

.nav-container h1{
    font-size: 2.25rem;
}

/* .logo{
    max-width: 700px;
    display: flex;
} */

/* .logo img{
    width:100px;
    height: 100px;
    margin-bottom: 10px;
} */

/* .logo h1{
    position: relative;
    font-size: 1.5rem;
    top:45px;
    left: -30px;
} */

/* .logo div{
    max-width: 500px;
    display: flex;
    flex-direction: column;
} */

.logo p{
    color: yellow;
    font-size: 0.7rem;
    position: relative;
    top:50px;
    left: -12px;
}

.hamburg-menu{
    display: none;
}

.nav-container ul {
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 38px;
    padding: 4px;
}

#home {
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
}


.nav-container a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-container ul>li {
    margin-right: 45px;
}

/* banner section */

.banner-container {
    max-width: 1090px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.font-style {
    font-size: 4.8rem;
    font-family: 'Miama', sans-serif;
    font-weight: 400;
}

.banner-container-left {
    max-width: 50%;
    margin-top: 130px;
    margin-bottom: 91px;
}

.banner-heading h1 {
    font-size: 4.8rem;
    margin: 0;
    padding: 0;
    font-weight: 800;
    line-height: 1;
}

.banner-heading p {
    margin-top: 30px;
}

.btn-area {
    margin-top: 28px;
    display: flex;
    gap: 14px;
}

.banner-container-right {
    max-width: 50%;
}

.banner-image {
    max-width: 100%;
    position: absolute;
    top: 148px;
}

#join-club-btn-secondary{
    display: none;
}

.image-card-left {
    display: flex;
    gap: 7px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 206px;
    height: 96px;
    backdrop-filter: blur(20px);
    background-color: rgba(48, 48, 48, 0.54);
    justify-content: center;
    align-items: center;
}

.circle-primary {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
}

.image-card-left {
    position: relative;
    top: 460px;
    left: -120px;
    z-index: 1;
}

.image-card-left img{
    position: absolute;
    width: 18.13px;
    height: 20px;
    left: 40px;
}

.image-card-top {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    padding: 17px 23px 16px 24px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    position: relative;
    top: 190px;
    left: 40px;
    z-index: 1;
}
.banner{
    display: flex;
}

/* Change habit Section */
.change-habit-container {
    max-width: 1060px;
    margin: 0 auto;
    margin-bottom: 90px;
}

.title-container p{
    margin-top: 15px;
    margin-bottom: 55px;
}

.change-habit-body-container {
    display: flex;
    justify-content: space-around;
}

.change-habit-card {
    text-align: center;
    max-width: 230px;
}
.change-habit-card h3 {
    margin-top: 20px;
    margin-bottom: 8px;
}

.change-habit-card img {
    border-radius: 50%;
    border: 3px solid rgba(128, 128, 128, 0.278);
}

 /* Why choose us section  */
 .why-choose-us-container{
    max-width: 1520px;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.why-choose-us-container h1{
    margin-bottom: 50px;
}

.why-choose-us-description-container{
    display: flex;
    text-align: left;
    background-color: rgb(34, 34, 34);
}

.why-choose-us-description-container img{
    width: 100%;
    height: 450px;
}

.why-choose-us-right-box{
    padding-left: 40px;
    padding-top: 30px;
    max-width: 700px;
    margin-right: 200px;
}

.why-choose-us-right-box h1{
    font-size: 2rem;
}

.why-choose-us-right-box p{
    margin-top: -35px;
}

.btn-area-why-choose{
    display: flex;
    gap: 15px;
}

.why-choose-us-description-causes{
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.why-choose-us-description-causes img{
    width: 20px;
    height: 20px;
}

.why-choose-us-description-causes div{
    display: flex;
    gap: 5px;
}


/* Intro Video Section */
.intro-video-container{
    max-width: 1060px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(34, 34, 34);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
}

iframe{
    border-radius: 20px;
}

#video-for-phone{
    display: none;
}

/* Join Section  */
.join-now-container {
    max-width: 1060px;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    margin-bottom: 90px;
    margin-top: 80px;
}

.join-now-container-left {
    max-width: 50%;
    padding: 30px;
}

.join-now-container-left p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.join-now-container-right img {
    width: 350px;
    height: 350px;
    margin: 30px;
    border-radius: 30px;
    object-fit: none;
    object-position: 66% 30%;
}

/* BMI Calculator title section */
.bmi-title-container {
    max-width: 1060px;
    margin: 0 auto;
    margin-bottom: 90px;
}

.bmi-title-container>div {
    margin-left: 200px;
    max-width: 671px;
}

/* BMI table section */

.bmi-table-container {
    background-color: rgb(34, 34, 34);
    padding-bottom: 50px;
    max-width: 1520px;
    margin: 0 auto;
}

.bmi-table-container-inner-box {
    margin: 0 auto;
    max-width: 1060px;
    display: flex;
    justify-content: space-between;
}

.bmi-calculator-chart {
    margin-top: 60px;
    max-width: 40%;
}

.bmi-calculator-chart h2 {
    margin-bottom: 30px;
}

.calculate-bmi {
    max-width: 60%;
    margin-top: 60px;
    max-width: 577px;
}

.calculate-bmi p {
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
}

td,th {
    border: 1px solid gray;
    padding: 10px 15px;
}

form {
    margin-bottom: 40px;
}

form div{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

form input,select{
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    border: none;
    width: 48.9%;
}

#activity-factor{
    margin-top: 12px;
    padding: 12px 45px 12px 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    width: 100%;
}

::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

#sex{
    padding: 12px 133px 12px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
}


/* Meet Our team Section */
.meet-our-team-container {
    max-width: 1060px;
    margin: 0 auto;
    margin-bottom: 70px;
    margin-top: 90px;
}

.meet-our-team-card-container {
    max-width: 100%;
    background-color: rgba(128, 128, 128, 0.421);
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-radius: 18px;
    margin-top: 58px;
    padding: 20px;
}

#img5{
    display: none;
}

.img-card img {
    width: 326.67px;
    height: 272px;
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.2);
}

.trainer-details {
    position: absolute;
    margin-top: -60px;
    margin-left: 18px;
}

/* Footer Section */
.footer {
    max-width: 1520px;
    background-color: rgba(128, 128, 128, 0.249);
    text-align: center;
    margin: 0 auto;
}

.footer-container{
    max-width: 1060px;
    margin: 0 auto;
}

.footer-container-upper-part {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    text-align: start;
}

.footer-heading {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    margin-bottom: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.get-started-left{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 30%;
    padding-bottom: 50px;
}
.get-started-right{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 30%;
    padding-bottom: 50px;
}
.title-details{
    margin-top: 60px;
    max-width: 40%;
}

.title-details h1{
    font-size: 3.5rem;
    font-weight: 800;
}

.title-details p{
    margin-top: 20px;
}

hr{
    height:1px;
    border-width:0;
    color:gray;
    background-color:gray;
    margin-bottom: 35px;
    margin-top: 25px;
}

.copy-right{
padding-bottom: 35px;
}
